<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="去除后台index.php">
                    <match url="^admin/(.*)" />
                    <action type="Rewrite" url="/admin/index.php/{R:1}" />
                    <conditions>
                        <add input="{R:1}" pattern="(index.php.*|views.*)" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
